.menu {
    grid-area:menu;
    background-color: grey;
}
.iconClass{
    width: 50%;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
    display: flex;
}

.iconClass > img{
    width: 90%;
    margin: auto;
    padding: 2px 0px;
}