.header{
    grid-area:header;
    background:linear-gradient(#2196f3,#2166f3);
    border-bottom: 2px solid rgba(244,67,54,.9);
    justify-content:space-between;
    align-items: center;
}
.header>*{
    text-decoration: none;
}

.CVButton{
    border-radius: 5px;
    background-color: whitesmoke;
    color: dodgerblue;
    border: 2px solid black;
    padding: 2px 3px;
    margin-right: 30px;
    margin-left: 30px;
    font-style: italic;
    font-size: 1.5rem;
}

/* VIEJOOOOO
#B8782E marron
#42B842 verde
#4842B8 violeta
#E63A3A rojo
*/
/* Iconos de flaticon.com */